<div class="container  p-4">
  <!-- Section: SignIn Form -->
  <section class="text-center d-flex  justify-content-center">
    <div class="card col-lg-10 col-md-10 col-sm-12 register">
      <div class="row g-0 d-flex align-items-center">
        <div class="col-lg-12 col-md-12 col-sm-12 p-2">
          <div class="card-body d-flex flex-column justify-content-center">
            <h2 class="text-center fs-3">Register Airlines Form</h2>
            <mat-divider class="my-2 bkg-primary"></mat-divider>
            <mat-stepper #stepper>
              <mat-step [stepControl]="firstFormGroup" errorMessage="All Flight Details are required">
                <form [formGroup]="firstFormGroup">
                  <ng-template matStepLabel>Fill Out Flight Details</ng-template>
                  <div class="row">
                    <mat-form-field appearance="outline" class="col-lg-4 col-md-4 col-sm-12 mb-2">
                      <mat-label>Airlines</mat-label>
                      <mat-select formControlName="airlinesId">
                        <mat-option *ngFor="let data of airlinesData" [value]="data.id">
                          {{data.name}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="col-lg-4 col-md-4 col-sm-12 mb-2">
                      <mat-label>Flight No</mat-label>
                      <input type="text" matInput placeholder="Enter Flight No" formControlName="flightNo" required>
                      <mat-icon matSuffix>flight</mat-icon>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="col-lg-4 col-md-4 col-sm-12 mb-2">
                      <mat-label>From Destination</mat-label>
                      <input type="text" matInput placeholder="Enter From Place" formControlName="fromPlace" required>
                      <mat-icon matSuffix>location_city</mat-icon>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="col-lg-4 col-md-4 col-sm-12 mb-2">
                      <mat-label>To Destination</mat-label>
                      <input type="text" matInput placeholder="Enter To Place" formControlName="toPlace" required>
                      <mat-icon matSuffix>location_city</mat-icon>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="col-lg-4 col-md-4 col-sm-12 mb-2">
                      <mat-label>Start Date</mat-label>
                      <input matInput [matDatepicker]="picker" formControlName="startDate">
                      <mat-hint>MM/DD/YYYY</mat-hint>
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="col-lg-4 col-md-4 col-sm-12 mb-2">
                      <mat-label>End Date</mat-label>
                      <input matInput [matDatepicker]="picker2" formControlName="endDate">
                      <mat-hint>MM/DD/YYYY</mat-hint>
                      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                      <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div>
                    <button mat-raised-button color="primary" matStepperNext>Next</button>
                  </div>
                </form>
              </mat-step>
              <mat-step [stepControl]="secondFormGroup" errorMessage="All Flight Details are required">
                <form [formGroup]="secondFormGroup">
                  <ng-template matStepLabel>Fill Out Flight Details</ng-template>
                  <div class="row">
                    <mat-form-field appearance="outline" class="col-lg-4 col-md-4 col-sm-12 mb-2">
                      <mat-label>Cost</mat-label>
                      <input type="number" matInput placeholder="Enter Cost" formControlName="cost" required>
                      <mat-icon matSuffix>monetization_on</mat-icon>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="col-lg-4 col-md-4 col-sm-12 mb-2">
                      <mat-label>Availability</mat-label>
                      <mat-select formControlName="availability" required>
                        <mat-option *ngFor="let slot of slots" [value]="slot.value">
                          {{slot.viewValue}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="col-lg-4 col-md-4 col-sm-12 mb-2">
                      <mat-label>Total Rows</mat-label>
                      <input type="number" matInput placeholder="Enter number" formControlName="totalRows" required>
                      <mat-icon matSuffix>assignment</mat-icon>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="col-lg-4 col-md-4 col-sm-12 mb-2">
                      <mat-label>Business Seats</mat-label>
                      <input type="number" matInput placeholder="Enter number" formControlName="businessSeats" required>
                      <mat-icon matSuffix>perm_identity</mat-icon>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="col-lg-4 col-md-4 col-sm-12 mb-2">
                      <mat-label>Non Business Seats</mat-label>
                      <input type="number" matInput placeholder="Enter number" formControlName="nonBusinessSeats" required>
                      <mat-icon matSuffix>perm_identity</mat-icon>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="col-lg-4 col-md-4 col-sm-12 mb-2">
                      <mat-label>Instrument</mat-label>
                      <input type="text" matInput placeholder="Enter Instrument" formControlName="instrument" required>
                      <mat-icon matSuffix>perm_identity</mat-icon>
                    </mat-form-field>
                    <div class="d-flex flex-column justify-content-start align-items-start col-lg-2 col-md-2 col-sm-12 mb-2 px-3 py-1">
                      <mat-label>Meals</mat-label>
                      <mat-slide-toggle formControlName="meal"></mat-slide-toggle>
                    </div>
                    <div class="d-flex flex-column justify-content-start align-items-start col-lg-2 col-md-2 col-sm-12 mb-2 px-3 py-1">
                      <mat-label>Veg Meal</mat-label>
                      <mat-slide-toggle formControlName="veg"></mat-slide-toggle>
                    </div>
                  </div>
                  <div class="d-flex justify-content-around align-items-center">
                    <button mat-raised-button color="primary" matStepperPrevious>Back</button>
                    <div class="d-flex justify-content-between align-items-center">
                      <button class="mx-2" mat-raised-button [disabled]="!firstFormGroup.valid && !secondFormGroup.valid"
                        (click)="onSubmit()">Schedule
                        flight</button>
                      <button class="mx-2" mat-raised-button color="accent" (click)="stepper.reset()">Reset</button>
                    </div>

                  </div>
                </form>
              </mat-step>
            </mat-stepper>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>