<div class="container p-2">

  <section class=" text-center d-flex justify-content-center p-2">
    <div class="card col-lg-12 col-md-12 col-sm-12 register">
      <div class="row g-0 d-flex align-items-center">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="card-body d-flex flex-column justify-content-center">
            <h2 class="text-center fs-3">Scheduled Flights</h2>
            <mat-divider class="my-2 bkg-primary"></mat-divider>
            <form [formGroup]="searchForm">
              <div class="row">
                <mat-form-field appearance="outline" class="col-lg-4 col-md-4 col-sm-12 mb-2">
                  <mat-label>Airlines</mat-label>
                  <mat-select formControlName="airlines">
                    <mat-option *ngFor="let data of airlinesData" [value]="data.id">
                      {{data.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline" class="col-lg-4 col-md-4 col-sm-12 mb-2">
                  <mat-label>Search Date</mat-label>
                  <input matInput [matDatepicker]="picker" formControlName="searchDate">
                  <mat-hint>MM/DD/YYYY</mat-hint>
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <mat-form-field appearance="outline" class="col-lg-4 col-md-4 col-sm-12 mb-2">
                  <mat-label>From Place</mat-label>
                  <input type="text" matInput placeholder="Enter From Place" formControlName="source" required>
                  <mat-icon matSuffix>location_city</mat-icon>
                  <mat-error class="text-center" *ngIf="source.touched || source.dirty">
                    <strong>From Place is required</strong>
                  </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="col-lg-4 col-md-4 col-sm-12 mb-2">
                  <mat-label>To Place</mat-label>
                  <input type="text" matInput placeholder="Enter To Place" formControlName="destination">
                  <mat-icon matSuffix>location_city</mat-icon>
                </mat-form-field>
                <div class="col-lg-4 col-md-4 col-sm-12 mb-2 ">
                  <button mat-raised-button class="mt-2" color="primary" [disabled]="!searchForm.valid" (click)="onSubmit()">Search</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="p-2">
    <div class="table-responsive">
      <table class="table table-borderless table-striped table-hover airlinesTable">
        <thead class="thead-dark">
          <tr>
            <th scope="col" class="text-center">Flight No</th>
            <th scope="col" class="text-center">From</th>
            <th scope="col" class="text-center">To</th>
            <th scope="col" class="text-center">Start Date</th>
            <th scope="col" class="text-center">End Date</th>
            <th scope="col" class="text-center">Availability</th>
            <th scope="col" class="text-center">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of flightsData | paginate: { id: 'pagination',itemsPerPage: 5, currentPage: p}">
            <td scope="col" class="text-center">{{data.flightNo}}</td>
            <td scope="col" class="text-center">{{data.fromPlace}}</td>
            <td scope="col" class="text-center">{{data.toPlace}}</td>
            <td scope="col" class="text-center">{{data.startDate | date:'fullDate'}}</td>
            <td scope="col" class="text-center">{{data.endDate | date:'fullDate'}}</td>
            <td scope="col" class="text-center">{{data.availability}}</td>
            <td scope="col" class="text-center">
              <button mat-raised-button color="accent" (click)="bookFlight(data)">Select Flight</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="text-decoration-none d-flex justify-content-end p-2 ">
    <pagination-controls id="pagination" (pageChange)="p = $event" previousLabel="Prev" nextLabel="Next"></pagination-controls>
  </div>

  <section class="text-center d-flex  justify-content-center p-2" *ngIf="showBookingCard">
    <div class="card col-lg-10 col-md-10 col-sm-12 register">
      <div class="row g-0 d-flex align-items-center">
        <div class="col-lg-12 col-md-12 col-sm-12 p-2">
          <div class="card-body d-flex flex-column justify-content-center">
            <h2 class="text-center fs-5">Booking Flight Form</h2>
            <mat-divider class="my-2 bkg-primary"></mat-divider>
            <mat-stepper #stepper>
              <mat-step [stepControl]="firstFormGroup" errorMessage="All Booking Details are required">
                <form [formGroup]="firstFormGroup">
                  <ng-template matStepLabel>Fill Out Booking Details</ng-template>
                  <div class="row">
                    <mat-form-field appearance="outline" class="col-lg-6 col-md-6 col-sm-12 mb-2">
                      <mat-label>Name</mat-label>
                      <input type="text" matInput placeholder="Enter Name" formControlName="name" required>
                      <mat-icon matSuffix>perm_identity</mat-icon>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="col-lg-6 col-md-6 col-sm-12 mb-2">
                      <mat-label>Email</mat-label>
                      <input type="text" matInput placeholder="Enter Email" formControlName="email" required>
                      <mat-icon matSuffix>email</mat-icon>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="col-lg-6 col-md-6 col-sm-12 mb-2">
                      <mat-label>Total Seats</mat-label>
                      <input type="number" matInput placeholder="Enter number" formControlName="totalSeats" required>
                      <mat-icon matSuffix>assignment</mat-icon>
                    </mat-form-field>
                    <div class="d-flex flex-column justify-content-start align-items-start col-lg-2 col-md-2 col-sm-12 mb-2 px-3 py-1">
                      <mat-label>Meal</mat-label>
                      <mat-slide-toggle formControlName="meal"></mat-slide-toggle>
                    </div>
                  </div>
                  <div>
                    <button mat-raised-button color="primary" matStepperNext>Next</button>
                  </div>
                </form>
              </mat-step>
              <mat-step [stepControl]="secondFormGroup" errorMessage="All Booking Details are required">
                <form [formGroup]="secondFormGroup">
                  <ng-template matStepLabel>Fill Out Booking Details</ng-template>
                  <div class="row">
                    <mat-form-field appearance="outline" class="col-lg-12 col-md-12 col-sm-12 mb-2">
                      <mat-label>Passengers</mat-label>
                      <input type="text" matInput placeholder="Enter Passengers Details" formControlName="passengers" required>
                      <mat-icon matSuffix>library_books</mat-icon>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="col-lg-12 col-md-12 col-sm-12 mb-2">
                      <mat-label>Seats</mat-label>
                      <input type="text" matInput placeholder="Enter Seat Details" formControlName="seats" required>
                      <mat-icon matSuffix>library_books</mat-icon>
                    </mat-form-field>
                  </div>
                  <div class="d-flex justify-content-around align-items-center">
                    <button mat-raised-button color="primary" matStepperPrevious>Back</button>
                    <div class="d-flex justify-content-between align-items-center">
                      <button class="mx-2" mat-raised-button color="primary" [disabled]="!firstFormGroup.valid && !secondFormGroup.valid"
                        (click)="onSave()">Book
                        Flight</button>
                      <button class="mx-2" mat-raised-button color="accent" (click)="stepper.reset()">Reset</button>
                    </div>

                  </div>
                </form>
              </mat-step>
            </mat-stepper>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>